<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DriversLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DriversLog.Properties.Settings>
            <setting name="dirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PLineNum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PStartMiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PEndMiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTotalMilesCol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTimeIn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTimeOut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTotalTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTotalSalesCol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PCreditTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTotalTipsCol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PCashTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PDeliveries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PBasePay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PCommP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PBasePaySalary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PCommPaySalary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTotalMiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PMileCredit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PEmpTaxP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTotalEmpTax" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTotalHours" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTipPM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PMilesPH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PBasePayPH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PCommPayPH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PSalesPH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTipsPH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PDlvsPH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTotalSales" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTotalTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTotalDlvs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PSalesPD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTipsPD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTipP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllDates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PCSWT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PBSWT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTCTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTCaTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClientSize" serializeAs="String">
                <value>782, 392</value>
            </setting>
            <setting name="Maximize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsPass" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsViewed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PPPDlv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumLinesDays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowLines" serializeAs="String">
                <value>True</value>
            </setting>
        </DriversLog.Properties.Settings>
    </userSettings>
</configuration>